<div class='play-hero'>
    <h1 class='home-heading'>Play</h1>
    <div class='home-dir' id='play-container'>
        <div class='paragraph'>
            <p>The animal kingdom is full of amazing sounds! Test your child's understanding by playing the fun and educational game on the next page.</p>
            <a ui-sref="play" class='button' id='play-btn'>Play</a>
            
        </div>
        <div class='barn-container'>
                <img id="barn"  src="barn.png" alt="">
        </div>
    </div>
</div>