<div class='learn-hero'>
    <h1 class='home-heading'>Practice</h1>
    <div class='home-dir'>
        <img id="girl" src="safariGirl.png" alt="safari girl">
        
        <div class='paragraph'>
            <p>Roars and quacks, oinks and moos! Click the learn button to 
                help your child broaden their knowledge of all the animals 
                and their sounds.
            </p>
             <a href="/no-server-project/#!/learn" class='button' id='practice-btn'>Learn</a>

        </div>
    </div>
        
</div>